<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SpaceXAPI SUite">

    <listeners>
        <listener class-name="extentReportListener.ExtentReporterNG" />
    </listeners>

    <test name="BlazeUIAutomation">
        <classes>
             <class name="testCases.BookFlightEconomical"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->